<div style="min-height: 63vh">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">ID</span>
    </div>
    <input
      [(ngModel)]="product.id"
      type="number"
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
      disabled
    />
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
    </div>
    <input
      [(ngModel)]="product.title"
      type="text"
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default"
        >Quantity</span
      >
    </div>
    <input
      [(ngModel)]="product.quantity"
      type="number"
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Price</span>
    </div>
    <input
      [(ngModel)]="product.price"
      type="number"
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default"
        >Category ID</span
      >
    </div>
    <input
      [(ngModel)]="product['category-id']"
      type="number"
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
      disabled
    />
  </div>

  <button type="button" class="btn btn-success" (click)="editProduct(product)">
    Edit Product
  </button>
  <button
    type="button"
    class="btn btn-outline-secondary ms-2"
    [routerLink]="['/products']"
  >
    Back to products
  </button>
  <button
    type="button"
    class="btn btn-danger buy-btn ms-2"
    (click)="confirmDeletion()"
    data-toggle="modal"
    data-target="#deletionModal"
  >
    Delete
  </button>

  <!-- Modal -->
  <div
    class="modal fade"
    id="deletionModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="deletionModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deletionModalLabel"></h5>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this product?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            No
          </button>
          <button
            type="button"
            data-dismiss="modal"
            class="btn btn-primary"
            (click)="deleteProduct(product.id)"
          >
            Yes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
