<div style="min-height: 63vh">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">ID</span>
    </div>
    <input
      [(ngModel)]="product.id"
      type="number"
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
      disabled
    />
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
    </div>
    <input
      [(ngModel)]="product.title"
      type="text"
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default"
        >Quantity</span
      >
    </div>
    <input
      [(ngModel)]="product.quantity"
      type="number"
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Price</span>
    </div>
    <input
      [(ngModel)]="product.price"
      type="number"
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default"
        >Category ID</span
      >
    </div>
    <input
      [(ngModel)]="product['category-id']"
      type="number"
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
      disabled
    />
  </div>

  <button type="button" class="btn btn-success" (click)="editProduct(product)">
    Edit Product
  </button>
  <button
    type="button"
    class="btn btn-outline-secondary ms-2"
    [routerLink]="['/products']"
  >
    Back to products
  </button>
</div>
