<div class="container">
  <form [formGroup]="userRegisterForm" class="mx-5 mt-4" (ngSubmit)="submit()">
    <div class="form-group mb-3">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        placeholder="Enter username"
        formControlName="name"
        [class.is-invalid]="name?.invalid"
        [class.is-valid]="name?.valid"
      />
      <div class="text-danger" [hidden]="name?.valid || name?.untouched">
        <small *ngIf="name?.errors?.['required']"> Name is required </small>
        <small *ngIf="name?.errors?.['pattern']">
          Name should be 2 letters or more,
          {{ name?.errors?.['pattern'].actualValue }}
        </small>
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
        formControlName="email"
        [class.is-invalid]="email?.invalid"
        [class.is-valid]="email?.valid"
      />
      <div class="text-danger" [hidden]="email?.valid || email?.untouched">
        <small *ngIf="email?.errors?.['required']"> Email is required </small>
        <small *ngIf="email?.errors?.['exist-email']">
          This email already exists,
          {{ email?.errors?.['exist-email'].value }}
        </small>
      </div>
    </div>

    <div formArrayName="phoneNumbers">
      <div
        class="form-group mb-3"
        *ngFor="let phoneNumber of phoneNumbers.controls; let i = index"
      >
        <label for="{{ 'phone-number' + i + 1 }}" class="form-label"
          >Phone Number #{{ i + 1 }}</label
        >
        <input
          type="tel"
          class="form-control"
          [formControlName]="i"
          id="{{ 'phone-number' + i + 1 }}"
          name="phone-number"
          required
          placeholder="Enter phone number"
        />
        <button
          type="button"
          class="btn btn-primary m-2"
          (click)="addPhoneNumber($event)"
          [disabled]="!phoneNumber.value"
        >
          +
        </button>
        <button
          type="button"
          class="btn btn-primary m-2"
          (click)="removePhoneNumber($event, i)"
          *ngIf="i === phoneNumbers.controls.length - 1 && i"
        >
          -
        </button>
      </div>
    </div>

    <div formGroupName="address">
      <div class="form-group mb-3">
        <label for="city" class="form-label">City</label>
        <input
          type="text"
          class="form-control"
          id="city"
          name="city"
          placeholder="Enter city"
          formControlName="city"
          [class.is-invalid]="city?.invalid"
          [class.is-valid]="city?.valid"
        />
      </div>
      <div class="form-group mb-3">
        <label for="postal-code" class="form-label">Postal Code</label>
        <input
          type="number"
          class="form-control"
          id="postal-code"
          name="postal-code"
          placeholder="Enter postal code"
          formControlName="postalCode"
          [class.is-invalid]="postalCode?.invalid"
          [class.is-valid]="postalCode?.valid"
        />
      </div>
      <div class="form-group mb-3">
        <label for="street" class="form-label">Street</label>
        <input
          type="text"
          class="form-control"
          id="street"
          name="street"
          placeholder="Enter street"
          formControlName="street"
          [class.is-invalid]="street?.invalid"
          [class.is-valid]="street?.valid"
        />
      </div>
    </div>

    <div
      class="btn-group mb-2"
      role="group"
      aria-label="Basic radio toggle button group"
    >
      <input
        type="radio"
        class="btn-check"
        formControlName="referral"
        name="referral"
        id="btnradio1"
        autocomplete="off"
        (change)="updateReferralValidators()"
        value="Google"
      />
      <label class="btn btn-outline-primary" for="btnradio1">Google</label>

      <input
        type="radio"
        class="btn-check"
        formControlName="referral"
        name="referral"
        id="btnradio2"
        autocomplete="off"
        value="Friends"
        (change)="updateReferralValidators()"
      />
      <label class="btn btn-outline-primary" for="btnradio2"
        >Through a friend</label
      >

      <input
        type="radio"
        class="btn-check"
        formControlName="referral"
        name="referral"
        id="btnradio3"
        autocomplete="off"
        value="Other"
        (change)="updateReferralValidators()"
      />
      <label class="btn btn-outline-primary" for="btnradio3">Other</label>
    </div>

    <div class="form-group mb-3" *ngIf="referral?.value === 'Other'">
      <label for="other" class="form-label">Other</label>
      <input
        type="text"
        class="form-control"
        id="other"
        name="other"
        formControlName="referralOther"
      />
    </div>

    <div class="form-group mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="referral"
        placeholder="Enter password"
        formControlName="referral"
        [class.is-invalid]="password?.invalid"
        [class.is-valid]="password?.valid"
      />
    </div>
    <div class="form-group mb-3">
      <label for="confirm-password" class="form-label">Confirm Password</label>
      <input
        type="password"
        class="form-control"
        id="confirm-password"
        name="referral"
        placeholder="Enter confirm password"
        formControlName="referral"
        [class.is-invalid]="confirmPassword?.invalid"
        [class.is-valid]="confirmPassword?.valid"
      />
      <div class="text-danger" [hidden]="confirmPassword?.untouched">
        <small *ngIf="confirmPassword?.errors?.['required']">
          Confirm password is required
        </small>
        <small *ngIf="userRegisterForm?.errors?.['UnmatchedPassword']">
          This password does not match
        </small>
      </div>
    </div>

    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="userRegisterForm.invalid"
    >
      Login
      <!-- (click)="login(username.value, password.value)" -->
    </button>
  </form>
</div>
