<div class="card m-auto d-flex flex-row" style="width: 80%">
  <img
    [src]="product?.image"
    class="card-img-top me-1 ms-2 my-4"
    alt="product image"
    style="height: 200px; width: 250px; object-fit: contain"
  />
  <div class="card-body my-4">
    <h4 class="card-title fw-bold">{{ product?.title }}</h4>
    <div class="card-text mb-2">
      <p><strong> Price: </strong> {{ product?.price }}</p>
      <p><strong> Quantity: </strong> {{ product?.quantity }}</p>
      <p *ngIf="product?.description">
        <strong> Description: </strong> {{ product?.description }}
      </p>
    </div>
    <div class="btn-group mt-5" role="group" aria-label="...">
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="goToPrevious()"
        [disabled]="currentProductID == productIDs[0]"
      >
        Previous
      </button>
      <button type="button" class="btn btn-success" (click)="goBack()">
        Back
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="goToNext()"
        [disabled]="currentProductID == productIDs[productIDs.length - 1]"
      >
        Next
      </button>
    </div>
  </div>
</div>
