.main {
  min-height: 60vh;
}
.main side-menu {
  flex-basis: 20%;
  border: 1px solid #000;
}
.main app-cart-parent {
  flex-basis: 80%;
  border: 1px solid #000;
}
.main > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
