<button type="button" class="btn btn-primary" [routerLink]="['/add-product']">
  Add a new product
</button>

<div class="products-container">
  <div
    *ngFor="let product of productListByCat"
    [ngStyle]="{
      backgroundColor:
        product.quantity == 0
          ? '#ec5c5c'
          : product.quantity == 1
          ? '#60f0e9'
          : 'initial'
    }"
    ProductCard
    BGColor="#afafaf"
  >
    <img [src]="product.image" alt="image" class="product-img" />
    <p style="text-align: center; margin: 0.2rem auto">
      <strong>{{ product.title }}</strong>
    </p>
    <p>Quantity: {{ product.quantity }}</p>
    <p>{{ product.price | currency: "USD" }}</p>
    <p>{{ product["category-id"] }}</p>
    <ng-container [ngSwitch]="product.quantity">
      <div *ngSwitchCase="0">Out of stock</div>
      <div *ngSwitchCase="1"><strong>Last item!</strong></div>
    </ng-container>
    <input
      #count
      type="number"
      min="0"
      [max]="product.quantity"
      class="form-control"
      (change)="
        selectQuantity(
          $event,
          product.id,
          product.title,
          product.price,
          product.quantity
        )
      "
    />
    <div class="btn-group mt-3">
      <button
        type="button"
        class="btn btn-secondary"
        [routerLink]="['/products', product.id]"
      >
        Details
      </button>
      <button
        type="button"
        class="btn btn-info"
        [routerLink]="['/edit-product', product.id]"
      >
        <i class="fas fa-edit"></i>
      </button>
      <button
        type="button"
        class="btn btn-success buy-btn"
        (click)="addToCart()"
        [disabled]="product.quantity == 0"
      >
        <i class="fas fa-cart-plus"></i>
      </button>
    </div>
  </div>
</div>
